*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.inicio_sesion{
    width: 20vw;
    background-color: cornsilk;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    padding: 15px;
}